<!DOCTYPE html>
{% load static %}
<html>
<head>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    {% include "navbar.html" %}
    {% include "sidemenu.html" %}  
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Filmes - {{user.username}}</h3>
                </div>
                <div class="card-body">
                    <form action="submit" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="input-group form-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="titulo" value="{{filmes.titulo}}" class="form-control" placeholder="Nome do filme ">
                            
                        </div>

                        <input type="number" name="id_filme" value="{{ filmes.id }}" hidden>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                               <input type="text" name="sinopse" value="{{filmes.sinopse}}" class="form-control" placeholder="Sinopse ">
                        </div>

                        

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" name="generos" value="{{filmes.generos}}" class="form-control" placeholder="Gêneros ">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" name="duracao" value="{{filmes.duracao}}" class="form-control" placeholder="Duração ">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" name="diretor" value="{{filmes.diretor}}" class="form-control" placeholder="Direção ">
                        </div>
                        {% if user.is_authenticated %}
                        <div class="form-group">
                            <button type="submit" value="Salvar" class="btn float-right login_btn" placeholder="Salvar">Salvar</button>
                        </div>
                        {% endif %}
                    </form>
                </div>
</html>
</body>